
@font-face {
    font-family: "MIB Font";
    src: url(mib.ttf) format("truetype");
}
.mib-font {
    font-family: "MIB Font", Verdana, Tahoma;
}

.nav-text{
    font-size: 90px;
    color : white;
}

.nav-text:hover{
    font-size: 90px;
    color : lightgrey;
}

.nav-background {
    background-color: black;
    height: 55px;
}

.nav-custom {
    border : none;
    height: 30px;
}

.logo-link {
    padding-top : 0px;
}
